@font-face {
    font-family: Cormorant;
    font-weight: 700;
    src: local("Cormorant-Bold"), local("Cormorant"),
        url("../fonts/cormorant-v11-latin_cyrillic-700.woff2") format("woff2"),
        url("../fonts/cormorant-v11-latin_cyrillic-700.woff") format("woff");
    font-display: swap;
}

:root {
    --main-color: #fff;
    --second-color: #262626;
    --one-color: #006E55;
    --two-color: #00654E;
    --three-color: #005844;
    --main-bg-color: #005844;
    --second-bg-color: #C0B487;
    --trigger-color: #E6AB39;
    box-sizing: border-box;
    --url-features-one: url("../images/tree.svg");
    --url-features-two: url("../images/christmas-decorations.svg");
    --url-features-three: url("../images/flowers.svg");
    --url-features-four: url("../images/delivery-truck.svg");
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    letter-spacing: 0.04em;
    color: var(--main-color);
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2 {
    font-family: Cormorant, serif;
}


.hide {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
input {
    font: inherit;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    margin: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 50px;
}

@media (max-width:1440px) {
    .container {
        padding: 0 42px;
    }
}

@media (max-width:1000px) {
    .container {
        padding: 0 39px;
    }
}

@media (max-width:760px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width:580px) {
    .container {
        padding: 0 10px;
    }
}

/* header*/

.header {
    color: var(--second-color);
    padding: 27px 0;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

.header__logo {
    justify-self: start;
}

.logo {
    width: 115px;
    height: 55px;
    color: var(--main-bg-color);
}

.header__navigation {
    justify-self: center;
}

.header__consultation {
    justify-self: end;
    padding: 14px 36px;
    background-color: var(--trigger-color);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: var(--main-color);
    border: none;
    box-shadow: 0px 2px 6px transparent;
    transition-property: background-color, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.header__consultation:hover {
    background-color: var(--main-bg-color);
}

.header__consultation:active {
    background-color: var(--main-bg-color);
    box-shadow: 0px 2px 6px rgba(2, 67, 52, 0.36);
}

.header__consultation:focus {
    outline-color: var(--second-color);
}

.navigation__list {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: var(--second-color);
    position: relative;
}

.navigation__link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-bg-color);
    transition-duration: 0.4s;
    transition-property: transform;
    transform: scaleX(0);
}

.navigation__link:hover:before {
    transform: scaleX(1);
}

.navigation__link:active {
    color: var(--main-bg-color);
}

.burger {
    display: none;
    position: relative;
    --width: 21px;
    --height: 14px;
    --size-line: 2px;
    --color: var(--main-bg-color);
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.burger__line {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: var(--size-line);
    transform: translateY(-50%) scale(1);
    background-color: var(--color);
    transition: transform .3s ease-in-out;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: var(--size-line);
    background-color: var(--color);
    transition: transform .3s, top 0.3s;
}

.burger::before {
    top: 0;
}

.burger::after {
    top: calc(100% - var(--size-line));
}

.burger_active .burger__line {
    transform: translateY(-50%) scale(0);
}


.burger_active::before {
    top: 50%;
    transform: rotate(-45deg);
}

.burger_active::after {
    top: 50%;
    transform: rotate(45deg);
}



@media (max-width:1440px) {
    .navigation__list {
        gap: 20px;
    }

    .navigation__link {
        font-size: 16px;
    }

    .header__consultation {
        padding: 12px 30px;
        font-size: 16px;
        border-radius: 8px;
    }
}

@media (max-width:1200px) {
    .logo {
        width: 115px;
        height: 55px;
    }
}

@media (max-width:1000px) {
    .header {
        padding: 20px 0;
    }

    .header__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 38px;
    }

    .header__burger {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
    }

    .burger {
        display: block;
    }

    .header__logo {
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
    }

    .header__navigation {
        grid-row: 2;
        grid-column: 1/4;
    }

    .navigation {
        display: none;
        width: 100%;
    }

    .navigation_active {
        display: block;
    }

    .header__consultation {
        padding: 8px 20px;
        font-size: 14px;
        border-radius: 6px;
        grid-row: 1;
        grid-column: 3;
    }

    .navigation__item {
        flex-basis: 146px;
    }

    .navigation__link {
        display: block;
        width: 100%;
        border: 1px solid var(--trigger-color);
        border-radius: 20px;
        text-align: center;
        padding: 7px 10px;
        font-size: 14px;
    }

    .navigation__link:before {
        content: none;
    }
}

@media (max-width:760px) {
    .header {
        padding: 10px 0;
    }

    .navigation__list {
        flex-wrap: wrap;
        gap: 8px 6px;
    }

    .navigation__item {
        flex-basis: calc(50% - 6px);
    }
}

@media (max-width:580px) {
    .header {
        padding-top: 16px;
        padding-bottom: 20px;
    }

    .logo {
        width: 73px;
        height: 35px;
    }

    .header__container {
        gap: 15px;
    }

    .header__consultation {
        padding: 5px 14px;
        font-size: 12px;
    }

    .burger {
        --width: 18px;
        --height: 12px;
    }
}

/*hero*/

.hero {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.hero__container {
    display: flex;
    align-items: center;
}

.hero__left {
    margin-left: -155px;
    margin-right: 110px;
    line-height: 0;
}

.hero__right {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 630px;
}

.hero__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
}

.hero__description {
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
}

.hero__down {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 130px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.hero__down-img {
    filter: drop-shadow(4px 7px 20px transparent);
    transition: filter 0.3s ease;
    margin-bottom: 13px;
}

.hero__down:hover .hero__down-img {
    filter: drop-shadow(4px 7px 20px var(--second-color));
}

@media (max-width:1440px) {
    .hero__img {
        width: 41vw;
    }

    .hero__left {
        margin-left: -70px;
        margin-right: 55px;
    }

    .hero__right {
        max-width: 550px;
    }

    .hero__title {
        font-size: 60px;
    }

    .hero__description {
        font-size: 24px;
    }
}

@media (max-width:1200px) {
    .hero__left {
        margin-left: -42px;
    }

    .hero__right {
        max-width: 445px;
    }

    .hero__title {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .hero__description {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .hero__down {
        max-width: 75px;
        font-size: 16px;
    }

    .hero__down-img {
        max-width: 65px;
        margin-bottom: 9px;
    }
}

@media (max-width:1000px) {
    .hero__left {
        margin-left: -39px;
        margin-right: 50px;
    }

    .hero__right {
        max-width: 360px;
    }

    .hero__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .hero__description {
        font-size: 16px;
    }

    .hero__down {
        max-width: 66px;
        font-size: 14px;
    }

    .hero__down-img {
        max-width: 40px;
        margin-bottom: 7px;
    }
}

@media (max-width:760px) {
    .hero__container {
        flex-direction: column;
    }

    .hero__img {
        width: 100%;
    }

    .hero__left {
        margin: 0;
        line-height: 0;
    }
}

@media (max-width:580px) {
    .hero__left {
        margin: 0 -10px;
    }

    .hero__title {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .hero__description {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .hero__down {
        max-width: 57px;
        font-size: 12px;
    }

    .hero__down-img {
        max-width: 40px;
    }
}

/*features*/

.features {
    background-color: var(--second-bg-color);
    padding: 40px 0;
    color: var(--main-color);
}

.features__list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.features__item {
    flex-basis: 236px;
    padding-top: 115px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px;
}

.features__item_one {
    background-image: var(--url-features-one);
}

.features__item_two {
    background-image: var(--url-features-two);
}

.features__item_three {
    background-image: var(--url-features-three);
}

.features__item_four {
    background-image: var(--url-features-four);
}

@media (max-width:1200px) {
    .features__item {
        flex-basis: 190px;
        font-size: 16px;
        background-size: 80px;
        padding-top: 90px;
    }
}

@media (max-width:1000px) {
    .features__list {
        gap: 10px;
    }

    .features__item {
        flex-basis: 162px;
        font-size: 14px;
        background-size: 60px;
        padding-top: 70px;
    }
}

@media (max-width:760px) {
    .features__list {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px 50px;
    }

    .features__item {
        flex-basis: 200px;
    }
}

@media (max-width:580px) {
    .features__list {
        gap: 20px 24px;
    }

    .features__item {
        flex-basis: 46%;
        font-size: 12px;
        padding-top: 55px;
        background-size: 50px;
    }
}

/* product */
.product {
    padding: 80px 0;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.product:nth-child(3n) {
    background-color: var(--one-color);
}

.product:nth-child(3n + 1) {
    background-color: var(--two-color);
}

.product:nth-child(3n + 2) {
    background-color: var(--three-color);
}

.product__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.product:nth-child(2n) .product__container {
    flex-direction: row-reverse;
}

.product__content {
    padding-top: 56px;
    max-width: 500px;
}

.product__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 110%;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}

.product__features {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
}

.product__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.04em;
    margin-bottom: 70px;
}

.product__button-wrapper {
    display: flex;
    align-items: center;
    gap: 36px;
}

.product__button {
    display: block;
    padding: 14px 36px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: var(--main-color);
    background-color: transparent;
}

.product__button-order {
    background-color: var(--second-bg-color);
}

.product__button-more {
    border-color: var(--second-bg-color);
}

.product__button:hover {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-color: var(--main-color);
}

.product__button:active {
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border-color: var(--second-bg-color);
}

.product__button-order:focus {
    outline: 2px solid var(--second-bg-color);
    border-color: transparent;
}

.product__button-more:focus {
    outline-color: var(--main-color);
}

.product__picture {
    width: calc(50% - 15px);
    border-radius: 16px;
    object-fit: cover;
}

@media (max-width:1440px) {

    .product__content {
        padding-top: 40px;
        max-width: 460px;
    }

    .product__title {
        font-size: 60px;
    }

    .product__features {
        font-size: 16px;
    }

    .product__description {
        font-size: 22px;
    }
}

@media (max-width:1200px) {
    .product {
        padding: 60px 0;
    }

    .product__content {
        padding-top: 24px;
        max-width: 380px;
    }

    .product__title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .product__features {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .product__description {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .product__button-wrapper {
        gap: 25px;
    }

    .product__button {
        font-size: 16px;
        padding: 12px 30px;
        border-radius: 8px;
    }
}

@media (max-width:1000px) {
    .product {
        padding: 50px 0;
    }

    .product__content {
        max-width: 330px;
    }

    .product__title {
        font-size: 40px;
    }

    .product__features {
        font-size: 14px;
    }

    .product__description {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .product__button-wrapper {
        gap: 20px;
    }

    .product__button {
        font-size: 14px;
        padding: 8px 20px;
        border-radius: 6px;
    }
}

@media (max-width:760px) {
    .product {
        padding: 20px 0;
    }

    .product__title {
        font-size: 30px;
    }

    .product__features {
        margin-bottom: 20px;
    }

    .product__description {
        margin-bottom: 30px;
    }

    .product__button-wrapper {
        gap: 20px;
    }
}

@media (max-width:580px) {

    .product:nth-child(even) .product__container,
    .product__container {
        flex-direction: column-reverse;
    }

    .product__content {
        width: 100%;
        max-width: none;
        padding: 0;
    }

    .product__picture {
        width: 100%;
    }

    .product__title {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .product__features {
        font-size: 12px;
    }

    .product__description {
        font-size: 14px;
    }

    .product__button-wrapper {
        gap: 20px;
    }

    .product__button {
        font-size: 12px;
        padding: 5px 14px;
    }
}

/* pay */

.pay {
    background-color: var(--second-bg-color);
    padding: 60px 0 80px;
    color: var(--main-color);
}

.pay__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 110%;
    letter-spacing: 0.01em;
    margin-bottom: 48px;
}

.pay__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pay__item {
    flex-basis: calc((100% / 3) - (60px / 3));
}

.option-pay__picture-wrapper {
    background-color: var(--main-color);
    min-height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.option-pay__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
}

.option__pay__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

@media (max-width:1440px) {
    .pay__title {
        font-size: 60px;
    }

    .option-pay__title {
        font-size: 22px;
    }
}

@media (max-width:1200px) {
    .pay__title {
        font-size: 50px;
    }

    .pay__list {
        gap: 20px;
    }

    .pay__item {
        flex-basis: calc((100% / 3) - (40px / 3));
    }

    .option-pay__picture-wrapper {
        min-height: 106px;
        padding: 25px;
        margin-bottom: 15px;
    }

    .option-pay__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .option__pay__description {
        font-size: 16px;
    }
}

@media (max-width:1000px) {
    .pay__title {
        font-size: 40px;
    }

    .pay__list {
        gap: 34px;
    }

    .pay__item {
        flex-basis: calc((100% / 3) - (68px / 3));
    }

    .option-pay__picture-wrapper {
        min-height: 73px;
        padding: 18px;
        margin-bottom: 10px;
    }

    .option-pay__title {
        font-size: 16px;
    }

    .option__pay__description {
        font-size: 14px;
    }
}

@media (max-width:760px) {
    .pay__title {
        font-size: 30px;
    }

    .pay__list {
        flex-direction: column;
        align-items: center;
    }

    .pay__item {
        flex-basis: auto;
        width: 65%;
    }
}

@media (max-width:580px) {
    .pay__title {
        font-size: 28px;
    }

    .option-pay__title {
        font-size: 14px;
    }

    .option__pay__description {
        font-size: 12px;
    }
}

/*footer*/

.footer {
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 80px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.footer__container {
    display: grid;
    grid-template-columns: 4fr 5fr 3fr;
    gap: 68px 30px;
}

.logo__second {
    color: var(--main-color);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.04em;
}

.footer__item:not(:last-child) {
    margin-bottom: 20px;
}

.footer__link {
    transition: color .3s ease-in-out;
}

.footer__link:hover {
    color: var(--second-bg-color);
}

.footer__list-social {
    display: flex;
    align-items: center;
}

.footer__item-social {
    margin-right: 20px;
}

.footer__item-social:not(:last-child) {
    margin-right: 20px;
}

.footer__link_social {
    display: block;
    width: 40px;
    height: 40px;
}

@media (max-width:1200px) {
    .footer {
        padding: 57px 0;
        font-size: 16px;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 53px 30px;
    }

    .footer__contacts {
        font-size: 20px;
    }

    .footer__link_social {
        width: 30px;
        height: 30px;
    }

    .footer__item-social:not(:last-child) {
        margin-right: 16px;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 15px;
    }
}

@media (max-width:1000px) {
    .footer {
        padding: 57px 0;
        font-size: 14px;
    }

    .footer__container {
        grid-template-columns: 4fr 5fr 4fr;
        gap: 40px 24px;
    }

    .footer__contacts {
        font-size: 16px;
    }

    .footer__link_social {
        width: 26px;
        height: 26px;
    }

    .footer__item-social:not(:last-child) {
        margin-right: 10px;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 13px;
    }
}

@media (max-width:760px) {
    .footer {
        padding: 40px 0;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .footer__logo,
    .footer__list-social {
        order: -1;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width:580px) {
    .footer {
        font-size: 12px;
        padding: 30px 0;
    }

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__contacts {
        font-size: 14px;
    }

    .footer__contacts,
    .footer__rules-list {
        order: -1;
    }
}

/* overlay*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-y: auto;
    display: none;
}

.overlay_active {
    display: flex;
}

/*modal*/

.modal {
    position: relative;
    background-color: var(--main-color);
    color: var(--second-color);
    max-width: 950px;
    border: 1px solid var(--second-color);
    border-radius: 14px;
    padding: 60px 85px;
    width: 100%;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    color: var(--two-color);
    transition: color .3s ease-in;
}

.modal__close:hover {
    color: var(--second-color);
}

.modal__close:focus {
    color: var(--second-color);
}

.modal__close:active {
    color: var(--second-bg-color);
}

.modal__title {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--two-color);
    margin-bottom: 50px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    display: block;
    position: relative;
}

.modal__label-text {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--second-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.modal__input {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    padding: 45px 15px 31px;
    border: 1px solid var(--second-bg-color);
    border-radius: 12px;
    margin-bottom: 20px;
}

.modal__label_last {
    margin-bottom: 60px;
}

.modal__button {
    padding: 14px 36px;
    background: var(--trigger-color);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: var(--main-color);
    align-self: flex-end;
    border: 0;
}


@media (max-width:1200px) {
    .modal {
        padding: 50px 100px;
        max-width: 746px;
    }

    .modal__title {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .modal__label_last {
        margin-bottom: 40px;
    }

    .modal_button {
        padding: 12px 30px;
        font-size: 16px;
        border-radius: 8px;

    }
}

@media (max-width:1000px) {
    .modal {
        padding: 40px 80px;
        max-width: 600px;
    }

    .modal__title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .modal__label {
        margin-bottom: 15px;
    }

    .modal__label-text {
        font-size: 14px;
    }

    .modal__label_last {
        margin-bottom: 40px;
    }

    .modal__input {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .modal__button {
        padding: 8px 20px;
        font-size: 14px;
        border-radius: 6px;
    }
}

@media (max-width:760px) {
    .modal {
        padding: 30px 15px;
    }

    .modal__title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .modal__label-text {
        font-size: 12px;
    }

    .modal__label_last {
        margin-bottom: 15px;
    }

    .modal__input {
        font-size: 12px;
        padding: 38px 10px 16px;
    }

    .modal__button {
        padding: 5px 14px;
        font-size: 12px;
        border-radius: 6px;
    }
}